.container {
  height: 100vh;
  width: 1000px;
  margin: 30px 20px;
  /* background-color: #f2f2f2; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-evenly;
}
